.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.body {
    background-color: hsl(0, 0%, 100%);
    
}
h4.name-alias {
    color: hsl(26, 100%, 55%);
}


/* DESKTOP */

@media only screen and (max-width: 1440px) {
    h1.item-title {
        font-size: 2.99rem;
        line-height: normal;
        font-weight: 700;
    }
    p {
       color: hsl(219, 9%, 45%);
       margin:30px 0px;
    }
    .content-total p {
        color:#000;
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 5px;
    }
    
    /* NAV */
    .navigate {
        display:flex;
        border-bottom: 1px solid #6e6a6a;   
        margin: 0px 5%;
    }
    
    .logo {
        padding: 25px 0px;
        margin: 20px;
        margin-left: 0px;
    }
    .left, .right{
        display: flex;
        align-items: center;      
    }

    ul.nav-menu {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        padding: 0px;
    }
    
    div.nav-cont {
        margin-right: 24rem;
    }
    
    li.nav-item {
        color: #000;
        
        cursor: pointer;
        transition: .4s;
    }
    li.nav-item:hover {    
        border-bottom: 3px solid hsl(26, 100%, 55%);
        transition: all ease-in-out;
        overflow: hidden;
    }
    
    div.nav-user {
        display: flex;
        /* margin-left: 10%; */
    }
    div.nav-user div.item-car,
    div.nav-user div.profile {
        margin: 2vh;    
        /* width:20%; */
    }
    div.nav-user div.item-car svg {
        margin: 25px;
        cursor: pointer;
    }
    div.nav-user div.item-car span {
        position: absolute;
        background-color: hsl(26, 100%, 55%);
        top: 35px;
        right: 14rem;
        font-size: 12px;
        font-weight: 700;
        color: #fff;
        padding: 0px 6px;
        border-radius: 100%;
    }
    div.nav-user div.profile img {
        margin: 2vh;
        width: 3rem;
        cursor: pointer;
        transition: .10s;
        border-radius: 50%
    }
    div.nav-user div.profile img:hover {    
        border: 2px solid hsl(26, 100%, 55%);   
    }
    
    .nav-menu li.nav-item {
        padding: 2.6rem 1.35rem;
    }
    div.mobile-nav {
        display: none;
    }
    
    
    
    /* ITEM PRE-PAY */
    section.content-item {
        padding: 8%;
        padding-top: 3%;;
        display: flex;
    }
    div.box-images{
        width: 80rem;
    }
    div.box-images img {
        border-radius: 8px;
    }
    
    div.box-thumb {
        display: inline-flex;
    }
    .item-thumb {
        margin-top: 20px;
        padding: 1rem;
        
    }
    div.item-thumb img {
        width: 10rem;
        transition: .26s;
        border-radius: 8px;    
        transform: scale(1.2);
        
    }
    div.item-thumb img:hover {
        cursor: pointer;   
        border: 2px solid hsl(26, 100%, 55%);
        opacity: 0.7;
        transform: scale(1.3);
        transition:all ease-in-out;
    }
    
    
    /* INFO BOX */
    div.box-infopay{
        padding: 5rem;
    }
    
    span.num-cut {
        background-color: hsl(25, 100%, 94%);
        font-size: 15px;
        color: hsl(26, 100%, 55%);
        padding: 0px 10px;
        margin-left: 15px;
        position: relative;
        bottom: 0.3em;
    }
    span.num-before {
        font-weight: 700;
        color: hsl(220, 14%, 75%);
        text-decoration: line-through;
    }
    .content-quanti {
        display: inline-flex;
    }
    
    .box-num_selector {
        background-color:hsl(223, 64%, 98%);
        display:inline-flex;
        text-align: center;
        padding: 0px 5px;
    }
    .num-add {
        color: hsl(26, 100%, 55%);
        font-size: 2.2rem;
        font-weight: 700;
        cursor: pointer;
    }
    span.item-num{
        margin: 18px;
        width: 3.5rem;
    }
    
    .btn-addcar {
        background-color:hsl(26, 100%, 55%);
        color: #fff;
        border: none;
        border-radius: 5%;
        padding: 1rem 5rem;
        display: inline-flex;
        margin-left: 1rem;
        cursor: pointer;
        transition: .28s;
    }
    .btn-addcar:hover{
        opacity: 0.8;
    }
    .btn-addcar svg {
        margin-right: 5px;
    }
    
    
    /* POP UPS */
    
    /* CAR */
    
    div.box-car_list {
        position: absolute;
        width: 25.5%;
        z-index: 3;
        background-color: hsl(0deg 0% 100%);
        box-shadow: 1px 5px 6px #79787861;
        border-radius: 3%;
        right: 4rem;
        top: 6rem;
        padding: 15px;
    }
    div.item-incar img {
        width: 75;
    }
    
    .item-incar {
        display: inline-flex;
    }
    .content-list {
        margin: 0px;
    }
    div .content-list p {
        margin: 0;
        font-size: 13px;
        font-weight: 400px;
    }
    div .content-list p span {
        font-weight: 700;
    }
    .num-tot_li {
        font-weight: 700px;
    }
    .box-item_img {
        width:16%;
        margin-right: 25px;
    }
    .item-incar svg {
        margin: 5%;
        cursor: pointer;
    }
    .btn-checkout {
        padding: 10px;
        background-color: #ff7944;
        color: #fff;
        border-radius: 10px;
        text-align: center;
        font-weight: 700;
        width: 95%;
        margin: 0px ;
        margin-top: 1rem;   
        cursor: pointer;
        transition: .3s;
    }
    .btn-checkout:hover{                                        
        opacity: 0.8;
    }
    
    /* USR OPTIONS */
    
    div.box-usr_options{
        position: absolute;
        width: 15%;
        background-color: hsl(0deg 0% 100%);
        box-shadow: 1px 5px 6px #79787861;
        right: 2rem;
        top: 4.5rem;
        padding: 15px 0px;
        text-align: left;
    }
    div.box-usr_options ul li {
        cursor: pointer;
        transition: .3s;
    }
    div.box-usr_options ul li:hover{
    
        transition: all ease-in-out;
        color:  #ff7944;
    }
    span.btn-prev,
    span.btn-next,
    li.side-nav {
        display: none;
    }
    
}

/* PHONE */

@media only screen and (max-width: 375px) {

    .navigate {
        border-bottom: none;
        margin: 0 !important;
        padding: 0rem 1.5rem;
        justify-content:space-between;
    }
    .left, .right{
        display: flex;
        align-items: center;      
    }
    .logo {
        padding-left: 1rem;
    }

    .profile img {
        width:1.5rem;
    }
    div.box-thumb {
        display:none;
    }

    div.nav-cont {
        margin-right: 0;
    }
    div.nav-user div.profile img {
        margin: 0;
        width: 1.6rem;
    }
    div.nav-user div.item-car,
    div.nav-user div.profile {
        padding: 1rem 10px;
        margin: 1vh 0;
    }
    div.nav-user div.item-car svg {
        margin: 0;
    }
    div.nav-user div.item-car span {
        right: 4.5rem;
        top: 1.5rem;
    }
    div.mobile-nav {
        display: block;
        padding: 25px 0px;
        margin: 1vh 0px;
    }
    .logo {

        margin: 1vh 3rem;
        margin-left: 0px;
    }
    div.nav-cont {
        z-index: 10;
        text-align: left;
        background-color: white;
        position: fixed;
        width: 60%;
        left: 0;
        top: 0;
        height: 100%;
    }
    
    div.box-car_list{
        width: 95.5%;
        height: 45%;
        right: 0.5rem;
    }


    div.back-mobile {
        display: none;
        z-index: 9;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #00000053;
    }
    ul.nav-menu {
        display:block;
    }
    ul.nav-menu li.nav-item {
        padding: 0.6rem 1.35rem;
        font-weight: 600;
        border:none;
    }
    ul.nav-menu li.side-nav {
        display: block;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    section.content-item {
        display: block;
        padding: 0;
    }

    div.box-images{
        width: 100%;
        margin: 0;
    }
    div.box-images img {
        border-radius: 0;
    }
    span.btn-prev {
        display: block;
        left: 5%;
    }
    span.btn-next {
        display: block;
        right: 5%;
    }




    div.box-infopay {
        padding: 1.2rem;
    }
    div.content-txt h4.name-alias {
        font-size: .9rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 13px;
    }
    div.content-txt h1.item-title {
        line-height: 1;
        text-transform: capitalize;
        margin-top: 1rem;
        font-size: 30px;
    }
    div.content-txt p{
        font-size: 15px;
    }
    .content-total{
        display: flex;  
        justify-content: space-between;
    }
    .content-total p {
        margin:0px;
        font-size: 30px;
    }
    .content-total .num-before {
        line-height: 3rem;
    }
    .content-quanti {
        display:block;
        margin-top: 1rem;
    }
    .box-num_selector {
        display: flex;
        justify-content: space-between;
        padding: 0px 15px;
    }

    .btn-addcar {
        display: flex;
        margin: 0;
        font-weight: 900;
        justify-content: center;
        margin-top: 1rem;
    }

    
}





/* MODAL IMAGES */
.modal-images{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    padding: 30%;
    padding-top: 4rem;
    padding-bottom: 10px;
}
.modal-box-images img {
    border-radius: 15px;
}
.box-modalone {
    width:auto;
}
.modal-item-thumb{
    display: inline-flex;
}
.modal-item-thumb img {
    width: 5rem;
    margin: 25px;
    transform: scale(1.2);
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: .28s;
}

.modal-item-thumb:hover {
    opacity: 0.7;
    transition: all ease-in-out;
}
.modal-item-thumb img:hover {
    border: 2px solid hsl(26, 100%, 55%);  
    transform: scale(1.1);
    opacity: 0.7;
    transition: all ease-in-out;
}

/* modal btns */
.close-modal {
    display: block;
    position: absolute;
    right: 30.5%;
    top: 6%;
    transform: scale(1.4);
    cursor: pointer;
}

.prev-modal {
    display: block;
    position: absolute;
    left: 30%;
    top: 40%;
    transform: scale(1.8);
    background-color: hsl(0, 0%, 100%);
    padding: 0px 8px;
    border-radius: 50%;
    font-weight: 700;
    cursor: pointer;
    transition: .25s;
}
.next-modal{
    display: block;
    position: absolute;
    right: 30%;
    top: 40%;
    transform: scale(1.8);
    background-color: hsl(0, 0%, 100%);
    padding: 0px 8px;
    border-radius: 50%;
    font-weight: 700;
    cursor: pointer;
    transition: .25s;
}
.prev-modal:hover,
.next-modal:hover{
    color:hsl(26, 100%, 55%);  
    transition:all ease-in-out;
}










/* InSET */
.active {
    display: block!important;
}

.separator{
    height: 100px;
  }